.search-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-input-container input {
  font-size: 1.5rem;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.single-search-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
  margin: 0rem 5rem;
  gap: 1rem;
  transition: all 0.25s;
}

.single-search-result:hover {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.single-search-result > img {
  height: 2rem;
}

.single-search-result > h3 {
  font-size: 1.5rem;
}

.single-search-result > p {
  margin-top: 0.45rem;
}

.single-search-result > a {
  background-color: #FFFFFF;
  border: 1px solid #14213D;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.25rem 1rem;
  transition: all 0.25s;
  margin-left: auto;
  text-decoration: none;
  color: #000000;
}

.single-search-result > a:hover {
  background-color: #14213D;
  color: #FFFFFF;
}